    #id{
        font: size 50rem;
        font-family:'Courier New', 'Courier', 'monospace';
        display:flex;
        color: white;
        font-weight: 900;
        line-height: 1;
        }
    .faq-list{
        width:750px;
        margin: 0 auto;
        display: flex 1;
        justify-content: center;
        flex-wrap: wrap;

    }
    body {
    font-family: 'Playwrite NZ Basic', cursive;
}
    .faq-head{
        text-align: center;
        font-size: 3em;
        color: #3B4953;
        margin-bottom: 40px;
    }
    .question{
    font-size: 20px;
    font-weight: bold;
    }
    .answer{
        font-weight:normal;
    }