{% extends "base.html" %}

{% block title %}Fact Checking Websites - FakeNews Detect{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fact_checking_websites.css') }}">
<div class="fact-checking-container">
    <h1>Popular Fact Checking Websites</h1>
    <p>Here are some trusted fact-checking resources you can use to verify information:</p>
    
    <div class="websites-grid">
        {% for website in websites %}
        <div class="website-card">
            <h3>{{ website.name }}</h3>
            <p>{{ website.description }}</p>
            <a href="{{ website.url }}" target="_blank" class="visit-button">Visit Website</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
