{% extends "base.html" %}

{% block title %}About Us - FakeNews Detect{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/faq.css')}}">
<div class="faq-list">
  <div class="faq-head">FAQs</div>
  <div class="question">
    ->Is this Website any Good?
    <p class="answer">Well it depends on what you call good.The website does give you response to your queries and also makes sure
      that
      the info is correct.So yeah it is good</p>
  </div>
  <div class="question">
    ->Can I fully trust this website?
    <p class="answer">Yes,but as every website or application which uses ai can make mistakes.</p>
  </div>
  <div class="question">
    ->What models does this use?
    <p class="answer"> We use Gemini, Chatgpt and mistral models.</p>
  </div>
  <div class="question">
    ->Is this the final Product?
    <p class="answer">No, The final product is still in progress.It will be completed in few days.</p>
  </div>
  <div class="question">
    ->What's so different from other websites and chatgpt?
    <p class="answer"> What we do is nothing different from chatgpt and perplexity but we provide fact based claims via multiple
      resource checking and use transformer models for context understanding and synthesis.
    </p>
  </div>
</div>
{% endblock %}